<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="icon" type="image/png" th:href="@{/assets/miscellaneous/favicon.png}">
	<meta name="description" content="Plataforma para listar e cadastrar pokémons.">
	
	<link rel="stylesheet" th:href="@{/styles/style.css}" >
	<link rel="stylesheet" th:href="@{/styles/index.css}" >
	<title>Atividade de LP4 - Pokémons</title>
</head>
<body>
	<header>
		<img id="pokemon-logo" alt="Pokémon logo" th:src="@{/assets/images/pokemon-logo.png}">
	</header>
	<content>
		<main>
		<h1>Cadastro de Pokémons</h1>
		<p>Plataforma para listar e cadastrar pokémons.</p>
		<h2>Alunos: </h2> 
		<p>Êxodo Jaffar Marques de Melo</p>
		<p>Henrique  Claranhan</p>
		
		<div id="redirect-buttons-group">
			<a href="/list">
				<div id="list-button" class="redirect-button">
					<div class="button-top"></div>
					<div class="button-bottom"><p class="button-text">Listar</p></div>
				</div>
			</a>
			<a href="/add">
				<div id="add-button" class="redirect-button">
					<div class="button-top">
						<div id="add-button-decoration"></div>
					</div>
					<div class="button-bottom"><p class="button-text">Adicionar</p></div>
				</div>
			</a>
		</div>
	</main>
	<figure>
		<img id="pikachu-img" alt="Pikachu" th:src="@{/assets/images/pikachu.png}">
	</figure>
	</content>
</body>
</html>
