<!doctype html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" th:href="@{/assets/miscellaneous/favicon.png}">

	<link rel="stylesheet" th:href="@{/styles/style.css}" >
	<link rel="stylesheet" th:href="@{/styles/list-pokemons.css}" >
	<title>Atividade de LP4 - Pokémons</title>

</head>

<body>
	<div th:insert="fragments/back-button :: back-button"></div>
	<header id="page-header">
		
		<h1 th:if="${pokemons.empty}">Nenhum pokémon cadastrado</h1>
		<h1 th:if="${not pokemons.empty and #lists.size(pokemons) eq 1}" th:text="${#lists.size(pokemons)} + ' pokémon cadastrado'"></h1>
		<h1 th:if="${not pokemons.empty and #lists.size(pokemons) gt 1}" th:text="${#lists.size(pokemons)} + ' pokémons cadastrados'"></h1>

		<a href="/add">
			<a href="/add">
				<button id="add-button" class="redirect-button">
					<div class="button-top">
						<div id="add-button-decoration"></div>
					</div>
					<div class="button-bottom"><p class="button-text">Adicionar</p></div>
				</button>
			</a>
		</a>
	</header>
	
	<section id="pokemons-list">
		<div class="pokemon-card" th:each="pokemon : ${pokemons}">
			<div class="profile-pic">
				<img th:src="${pokemon.imageSrc}" alt="Foto de perfil">
			</div>
			<header class="card-header"></header>
			<div class="data-container">
				<h2 th:text="${pokemon.name}" ></h2>
				<div class="pokemon-info">
					<span>
						<p class="info-title"><strong>Tipo:</strong></p>
						<p class="info-text" th:text="${pokemon.type}" />
					</span>
					<span>
						<p class="info-title"><strong>Fraqueza:</strong></p>
						<p class="info-text" th:text="${pokemon.weakness}" />
					</span>
					<span>
						<p class="info-title"><strong>Nascimento:</strong></p>
						<p class="info-text" th:text="${pokemon.birthday}"/> 
					</span>
					<span>
						<p class="info-title"><strong>Dono:</strong></p>
						<p class="info-text" th:text="${pokemon.pokemonOwnerName}"/> 
					</span>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
