body {
	display: flex;
	flex-direction: column;
}

#page-header {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0 20px;
}

#pokemons-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px 3rem 2rem 3rem;
}

.pokemon-card {
    min-width: 260px;
    width: 26%;
    margin: 20px;

    border-radius: 5px;
    border: 3px solid #000000;

    display: flex;
    flex-direction: column;

    background-color: #f2f2f2;
    filter: drop-shadow(0 5px 10px #5050502c);
}

.card-header {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    border-radius: 4px 4px 0 0;
    height: 90px;
    width: 100%;
    border-bottom: 2px solid #000000;
    background-color: var(--red);
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 12px;
}

.menu-dots {
    cursor: pointer;
    padding: 10px;
}

.menu-dots svg {
    color: #FFFFFF;
    transform: scale(120%);
}

.menu-options-toggle {
    position: absolute;
    display: none;
}

.menu-options-toggle:checked ~ .menu-options {
    opacity: 1;
    z-index: 2;
    top: 30px;
}

.menu-options {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 12px;
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
    opacity: 0;
    border: 1px solid #000000;
    box-shadow: #00000059 0px 5px 15px;
    background-color: #FFFFFF;
    transition: all .25s ease-in-out;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 6px 8px 6px 8px;
    font-size: 1.1rem;
}

.menu-item p {
    margin-left: 6px;
}

.edit-button:hover {
    background-color: #eaeaea;
}

.delete-button {
    color: #FFFFFF;
    background-color: #ff2c2c;
}

.delete-button:hover {
    background-color: #d02626;
}

.profile-pic {
	--picture-size: 90px;
    position: absolute;
    align-self: center;
    margin-top: 26px;
    width: var(--picture-size);
    height: var(--picture-size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #000000;
}

.profile-pic img {
	max-height: 90px;
}

.data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 41px;
}

.data-container h2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Press Start 2P", sans-serif;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    padding: 22px;
}

.pokemon-info span {
    display: flex;
    flex-direction: row;
    align-items: center;
   	column-gap: 8px;
}

.info-title {
	font-size: 18px;
}

.info-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    font-size: 17px;
}

@media (min-width: 960px) {
    #page-header {
        padding: 4.7rem 8% 0.8rem 8%;
        flex-direction: row;
        justify-content: space-between;
    }
    
    h1 {
        font-size: 2.4rem;
    }
}

@media (max-width: 417px) {
    h1 {
        font-size: 2.2rem;
    }

    .redirect-button {
		width: 9rem;
		height: 3.6rem;
	}

	.button-text {
		font-size: .75rem;
	}

    .data-container h2 {
        font-size: 1.2rem;
    }
}
