@font-face {
	font-family: "Rubik";
	src: url("../assets/fonts/Rubik.ttf");
}

@font-face {
	font-family: "Press Start 2P";
	src: url("../assets/fonts/PressStart2P.ttf");
}

:root {
    --red: #EE4035;
    --gray: #414141;
    --yellow: #FFEF52;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Rubik";
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F3F3F3;
}

button {
    all: unset;
    cursor: pointer;
}

a {
	color: inherit;
    text-decoration: none;
    width: fit-content;
}

h1 {
    color: #000000;
    filter: drop-shadow(0 0 10px #ffffffc2);
}

#back-button {
    position: absolute;
    top: 20px;
    left: 25px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 4px 8px;
    outline: none;
    
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 4px;
}

.redirect-button {
	width: 10rem;
	height: 3.6rem;
	display: flex;
	flex-direction: column;
	outline: none;
}

.button-top, .button-bottom {
	--button-radius: 4px;
	width: 100%;
	border: 2px solid #000000;
	transition: all 0.5s ease-out;
}
.button-top {
	height: 40%;
	border-top-left-radius: var(--button-radius);
	border-top-right-radius: var(--button-radius);
}
.button-bottom {
	height: 60%;
	display: grid;
	place-items: center;
	background-color: #FFFFFF;
	border-bottom-left-radius: var(--button-radius);
	border-bottom-right-radius: var(--button-radius);
}

.button-text {
	position: absolute;
	font-family: "Press Start 2P", sans-serif;
	font-size: 1rem;
}

.redirect-button:hover .button-top {
	margin-top: -3px;
}

#add-button .button-top {
	background-color: var(--gray);
	padding: 0 8px;
}

#add-button-decoration {
	width: 100%;
	height: 100%;
	border: 7px solid var(--yellow);
	border-bottom: none;
}

@media (max-width: 768px) {
	.redirect-button {
		width: 8rem;
		height: 3.6rem;
	}

	.button-text {
		font-size: .75rem;
	}
}

@media (max-width: 630px) {
	.redirect-button {
		width: 7rem;
		height: 3.5rem;
	}

	.button-text {
		font-size: .6rem;
	}
}